{% extends 'base.html.twig' %}
{% block body %}
<div class="main-content">
<form>
{% for message in app.flashes('orderError') %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
{% endfor %}
</form>
{{form(form)}}
</div>
{% endblock %}